
body{
    background-image: url("aesthetic-colorful-pastel-floral-fluid-abstract-background-vector.jpg");
    background-repeat: no-repeat;
}
.one{
    background-image: url("691690-aestheticwp.jpg");
    background-repeat: no-repeat;
}
.text-center{
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
   }
  .container{
    color: black;
    }